<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @trivia_question.question %>
</p>

Rating:<%= link_to "ðŸ‘", trivia_question_vote_path(@trivia_presenter, type: "up"), method: :post  %>
<%= link_to "ðŸ‘Ž", trivia_question_vote_path(@trivia_presenter, type: "down"), method: :post %>
(<%= @trivia_presenter.reputation_for(:votes).to_i %>)
<%= @trivia_presenter.edit_link %><br />

<%= link_to 'Answer this question!', new_answer_for_path(@trivia_question) %>
<p>
  <strong>Existing Answers</strong>
</p>

<%= render 'answers/index', answers: @trivia_question.answers %>

<%= link_to 'Back', trivia_questions_path %>
